<div class="container1">
    <div class="objects-block">
        <div class="object" ng-click="showMarker(object.latitude, object.longitude, object.login)"
             ng-repeat="object in objectsList">
            {{object.login}}
            <div class="speed-info">
                <img src="https://maxcdn.icons8.com/windows8/PNG/26/Sports/running-26.png"
                     title="Running" width="20" class="speed-ico">
                {{object.speed + " km/h"}}
            </div>
        </div>
    </div>
    <div id="mapid"></div>
    <div class="footer" ng-include="'components/partials/footer.html'"></div>
</div>